/**
 * @author Rubel Mondol
 * @description Blue theme colors.
 */

@import "theme-variables-builder";

$primary: #3b82f6; 
$secondary: #a4afb5; 
$dark: #161616; 
$danger: #fdd2d2;
$muted: #6c757d;

$base-bg: #0c0c0c; 
$base-bg-light: #181818; 
$base-bg-dark: #090909;

$texts: #EEEEEE;
$texts-inverted: #111111;

$base-container-bg: #191919;
$base-popover-bg: #0e0e0e;
$base-boards: #222222;
$base-info-badges: #2a2a2a;
$empty: #131313;
$empty-accent: #111111;

$borders: #252525;
$scrollbar-track: #101010;
$scrollbar-thumb: #32343a;

[data-theme="blue"] {
    @include build-theme(
        // Theme Config...
        /** DARK MODE: **/                  true,

        // Base Colors...
        /** PRIMARY: **/                    $primary,
        /** SECONDARY: **/                  $secondary,
        /** DARK: **/                       $dark,
        /** DANGER: **/                     $danger,
        /** MUTED: **/                      $muted,

        // Main Layout Colors...
        /** BG: **/                         $base-bg,
        /** BG CONTRAST: **/                $base-bg-light,
        /** BG CONTRAST DARKEN:**/          $base-bg-dark,
        /** TEXTS: **/                      $texts,
        /** TEXTS (INVERTED): **/           $texts-inverted,

        // Nav
        /** NAV MOBILE BG: **/              $empty-accent,
        /** NAV MOBILE: **/                 $texts,
        /** NAV MOBILE BORDER: **/          $borders,

        /** NAV MOBILE HOVER BG: **/        $empty-accent,
        /** NAV MOBILE HOVER: **/           $primary,

        /** NAV MOBILE SELECTED BG: **/     $primary,
        /** NAV MOBILE SELECTED: **/        $texts-inverted,
        /** NAV MOBILE SELECTED BORDER: **/ $primary,

        // Main Layout Elements...
        /** SECTION BG: **/                 $base-container-bg,
        /** CARD BG: **/                    $base-container-bg,
        /** POPUPS BG: **/                  $base-popover-bg,
        /** BOARDS: **/                     $base-boards,
        /** INFO BADGE BG: **/              $base-info-badges,
        /** INFO BADGE **/                  $texts,
        /** EMPTY **/                       $empty,

        // Other Colors...
        /** DEFAULT BORDERS: **/            $borders,
        /** SCROLLBAR TRACK: **/            $scrollbar-track,
        /** SCROLLBAR THUMB: **/            $scrollbar-thumb,
    );
}
